.basket_r{
    margin:0px;
  }
  .wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .good_buy_name_text{
    font-size:19px;
    margin-bottom:15px;
    font-weight:700;
  }
  .good_buy_name_description{
    font-size:16px;
    color:rgb(177, 177, 177);
  }
  .plus_minus{
    display:flex;
    align-items: center;
  }
  .plus, .minus{
    padding:6px;
    font-size:25px;
    height:45px;
    cursor:pointer;
    width:45px;
    color:#c32865;
    border:2px solid #c32865;
    border-radius:45px;
    text-align: center;
  }
  .plus:hover, .minus:hover{
    background:#c32865;
    color:#fff;
    transition:all 0.5s ease;
  }
  .number{
    font-size:18px;
    font-weight:700;
    margin-left:20px;
    margin-right:20px;
  }
  .price{
    font-size:20px;
    font-weight:700;
  }
  .bxs_trash{
    font-size:27px;
    color:rgb(190, 190, 190);
    margin:15px;
    cursor:pointer;
    transition:all 0.5 ease;
  }
  .bxs_trash:hover{
    color:rgb(137, 137, 137);
  }
  .img{
    height:103px;
    width:120px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px lightgrey;
    margin: 30px;   
    margin-left:0;      
  }
